<!-- BRING IN HEADER SECTION -->
<section class="section">
	<div class="columns">
		<div class="column">
			<h2 class="title">Welcome <%=@user_id.first_name%></h2>
			<% get_tickets do | ticket | %>
			<%= "#{ticket.ticket_number} purchased on #{ticket.created_at}" %>
			<% end %>
			<a href="/gettickets" target="_blank">Download Your Ticket(s)</a>
		</div>
	</div>
</section>
