
<div class="tabs-content">
  <%= form_tag '/session', method: 'post' do %>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <div class="content active" id="panelLogin">
    <h1>Login</h1>
    <div class="row">
      <div class="large-12 columns">
        <label>Email
          <input type="email" name="email" value="">
        </label>
      </div>
      <div class="large-12 columns">
        <label>Password
          <input type="text" name="password" value="">
        </label>
      </div>
      <div class="large-12 columns">
        <button class="button expand large">Login</button>
      </div>
        <% end %>
    </div>
  </div>
</div>
