<header class="subnav-hero-section">
  <div class="hero-section-text">
    <h1>WDI Conference</h1>
    <h5>The future of Technology in one place.</h5>
  </div>
</header>

<!-- CONFERENCE DETAILS -->
<div class="row">
  <div class="medium-6 large-3 columns">
    <h3>Lorum</h3>
    <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna.</p>
  </div>
  <div class="medium-6 large-3 columns">
    <h3>Ipsum</h3>
    <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna.</p>
  </div>
</div>
<!-- BLOCK GRID -->
<div class="marketing-site-content-section">
  <div class="marketing-site-content-section-img">
    <%= link_to (image_tag "profile1.jpg") %>
  </div>
  <div class="marketing-site-content-section-block">
    <h2>John Titor, Time Traveller</h2>
    <h3 class="marketing-site-content-section-block-header">Time Travel, the inner workings of light speed.</h3>
    <p class="marketing-site-content-section-block-subheader subheader">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam omnis, maxime libero natus qui minus!</p>
    <a href="#" class="round button small">learn more</a>
  </div>
  <div class="marketing-site-content-section-block small-order-2 medium-order-1">
    <h2>Professor Pierre Aronnax, Marine Biologist</h2>
    <h3 class="marketing-site-content-section-block-header">Marine Technology, raising the Titanic</h3>
    <p class="marketing-site-content-section-block-subheader subheader">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam omnis, maxime libero natus qui minus!</p>
    <a href="#" class="round button small">learn more</a>
  </div>
  <div class="marketing-site-content-section-img small-order-1 medium-order-2">
    <%= link_to (image_tag "profile2.jpg") %>  </div>
</div>
