
<div class="login">
  <div class="login-triangle"></div>

  <h2 class="login-header">Log in</h2>

  <form class="login-container">
    <%= form_tag '/session', method: 'post' do %>
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <p><input type="email" name="email" value="" placeholder="email"></p>
    <p><input type="text" name="password" value="" placeholder="password"></p>
    <p><input type="submit" value="Log in"></p>
    <% end %>
  </form>
</div>
