<h1>LOGIN PAGE</h1>
<div class="row align-middle">
  <%= form_tag '' , method:'post' do %>
    <label for="email">Email</label>
    <input type="email" name="email" value="">
    <label for="password">Password</label>
    <input type="text" name="password" value="">
    <button>Login</button>
  <% end %>
</div>
