<h1>PAYMENT PAGE</h1>
<div class="row align-middle">
  <%= form_tag '' , method:'post' do %>
    <label for="first_name">First Name</label>
    <input type="text" name="first_name" value="">
    <label for="last_name">Last Name</label>
    <input type="text" name="last_name" value="">
    <label for="email">Email</label>
    <input type="email" name="email" value="">
    <label for="">Number of Tickets</label>
    <input type="range" name="number_tickets" min="1" max="10" value="">
    <button>Login</button>
  <% end %>
  <%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: $5.00</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="WDI Convention Tickets"
          data-amount="500"
          data-locale="auto"></script>
<% end %>
</div>
