<div class="expanded row speaker-container"></div>

<script id="speaker-profile-template" type="text/handlebars" charset="utf-8">
<div class="profiles-bg-image"></div>
<div class="large-6 large-offset-6 columns profiles-information">
  <h1>{{ name }}</h1>
  <h2>{{ job_title }}</h2>
  <p> {{ bio }} </p>
  <h3> {{ talk_title }} </h3>

  <% @all_speakers.each do |speaker| %>
    <a class="profiles-link" data-id="<%= speaker.id %>"><%= speaker.name %></a>
  <% end %>
</div>
</script>

<script type="text/javascript" charset="utf-8">
  var speakers = <%= @speakers.html_safe %> ;
	var apiUrl = '/api/speakers';

  function showProfileInfo(currentSpeaker){
    $('.speaker-container').empty();
    var speaker = currentSpeaker;
    var profileTemplate = Handlebars.compile( $('#speaker-profile-template').html() );
    var compiledProfile = profileTemplate(speaker);
    $('.speaker-container').append(compiledProfile);
  }

  function profileNameClick(event){
    var speakerName = $(event.target);
    var speakerId = speakerName.data('id');
    // console.log(speakerId);

    var result = speakers.filter(function (obj) {
      return obj.id === speakerId;
    })[0];

    // console.log(result);

    showProfileInfo(result);
  }
  showProfileInfo(speakers[0]);
  $('.speaker-container').on('click', '.profiles-link', profileNameClick);

</script>
