.topbar {
}

.hero-bg{
  width: 100%;
  position: absolute;
  height: 100vh;
  background: url('/assets/header.jpg') center center;
  background-size: cover;
  z-index: 1;

  &:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  }
}
