.nav {
  background: transparent;
  position: absolute;
  width: 100%;
  z-index: 10;
  a {
    color: $offwhite;
    font-weight: bold;
  }
}

.header-hero{
  width: 100%;
  padding: 8rem 0;
  background: url('/assets/header.jpg') center center;
  background-size: contain;
  background-color: rgba(255,127,102, 0.9);
  background-blend-mode: lighten;
}

.hero-body{
  // z-index: 3;
  text-align: center;
  h1, h3{
    color: white;
    font-weight: 700;
  }

  h1 {
    font-size: 4.5rem;
  }

  h3 {
    font-size: 2.75rem;
  }
}
