#charge-form {
  width: 60%;
  margin: 50px auto;
  text-align: center;
  padding: 6%;
  background-color: $offwhite;
  border-radius: 10px;
}
#charge-form input{
  text-align: center;
}
#charge-form button{
  margin-top: 10px;
}
