.speaker-container{
  height: 85vh;
  background-color: rgba(33,133,197,1);
}

.profile {
  &-image{
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;
    background-color: rgba(33,133,197, 0.7);
    background-blend-mode: darken, luminosity;
    mix-blend-mode: overlay;
  }



  &-information {
    position: relative;
    display: flex;
    padding-left: 4rem;
    justify-content: center;
    flex-direction: column;
    height: 85vh;
    width: 100%;

    color: white;

    &-link, a {
      display: inline-block;
      cursor: pointer;
      color: $lightblue;
    }
  }
}
