.columns.speakers{
   margin-bottom: 0;
}

.speaker {
  height: 300px;
  background-repeat: no-repeat;
}

.sp1,
.sp2,
.sp3,
.sp4 {
  background-size: cover;
  display: block;
  width: auto;
  height: 300px;
  background-position: center center;
  overflow: hidden;
}

.sp1 {
  background-image: url('profile1.jpg');
}

.sp2 {
  background-image: url('profile2.jpg');
}

.sp3 {
  background-image: url('profile3.jpg');
}

.sp4 {
  background-image: url('profile4.jpg');
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: $lightblue;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
  opacity: 0.7;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap;
  color: $grey;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
