#scroll-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: $grey;
  padding: 15px;
  line-height: 0;
  z-index: 100;
  border-radius: 50%;
  background-color: white;
}

#scroll-button:hover{
  cursor: pointer;
}

.timeLeft {
  text-align: center;
  color: white;
  font-size: 3rem;
  padding: 4rem 0;
}
.countdown-container{
  animation: border-change 8s infinite alternate;
  padding: 2.5rem 0;
}

@keyframes border-change {
  0% {
    background-color: #2185C5;
  }

  50% {
    background-color: #7ECEFD;
  }
  100% {
    background-color: #FF7F66;
  }
}
