#scroll-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color:grey;
  padding: 10px;
  z-index: 100;
  border: 1px solid white;
  border-radius: 2px;
  background-color: white;
}

#scroll-button:hover{
  cursor: pointer;
}
.hide-scroll{
  display: none;
}
