<!-- <section class="section"></section> -->
  <!-- <div class="container"> -->
    <div class="about columns">
      <div class="column">
        <h3 class="title">
          <span>4</span> <br>
          Speakers</h3>
      </div>
      <div class="column">
        <h3 class="title">
          <span>500</span>
          <br>
          Spots
        </h3>
      </div>
      <div class="column">
        <h3 class="title">
          <span>1</span>
          <br>
          Day
        </h3>
      </div>
    </div>
  <!-- </div> -->
<!-- </section> -->
