<div class="columns">
  <div class="column is-12 about">
    <p>shall we put the countdown clock in this section???</p>
    <h1>4 Speakers</h1>
    <h2>500 Spots</h2>
    <h3>One Day!</h3>
  </div>
</div>
