<div class="responsive-hidden-nav-container">
  <nav class="top-bar responsive-hidden-nav" data-responsive-hidden-nav>
    <button class="responsive-hidden-button">
      <div class="hamburger"></div>
    </button>
    <ul class="visible-links">
      <li><a href="#">Location</a></li>
      <li><a href="#">Speakers</a></li>
      <li><a href="#">Buy Tickets</a></li>
    </ul>
    <ul class="hidden-links hidden"></ul>
  </nav>
</div>
