<section class="hero is-medium">
  <div class="hero-bg"></div> <!-- empty div for bgoverlay -->
  <div class="hero-body">
    <div class="container">
      <h1 >WDI Conference</h1>
      <h2>The future of Technology in one place.</h2>
    </div>
  </div>
</section>
