<nav class="nav has-shadow topbar">
  <div class="container">
    <div class="nav-left">
      <div class="nav-item">WDICON</div>
    </div>
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right">
      <a class="nav-item">Home</a>
      <a class="nav-item">Schedule</a>
      <a class="nav-item">Buy Tickers</a>
      <a class="nav-item">Login</a>
    </div>
  </div>
</nav>

<section class="hero is-medium">
  <div class="hero-bg"></div>
  <div class="hero-body">
    <div class="container">
      <h1 >WDI Conference</h1>
      <h2>The future of Technology in one place.</h2>
    </div>
  </div>
</section>
