<section class="hero header-hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-spaced" >WDI Conference</h1>
      <h3 class="subtitle">The future of Technology in one place.</h3>
      <h3 class="subtitle">22nd May 2017</h3>
    </div>
  </div>
</section>
