<!-- CONFERENCE DETAILS -->
<section id="location">
  <div class="map-container">
    <iframe width="100%" height="250px" scrolling="no" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJtYSic1Fd1moRhKPuTfDqjpU&key=AIzaSyDALJ8X3tP6ZJF7AspGLZU9Wd3fYwi4HDU"></iframe>
  </div>
</section>
