<nav class="nav has-shadow topbar">
  <div class="container">
    <div class="nav-left">
      <a href="/" class="nav-item">WDICON</a>
    </div>
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right">
      <a href="/profiles" class="nav-item">Speakers</a>
      <a href="/payment" class="nav-item">Buy Tickers</a>
      <a href="#" class="nav-item">Login</a> <!-- will be a button -->
    </div>
  </div>
</nav>
