<div class="columns speakers">
  <div class="column speaker sp1 container">
    <div class="overlay">
      <div class="text">
        <h4>Professor Longbottom</h4>
        <a class="button is-outlined">Biography</a>
      </div>

    </div>
  </div>
  <div class="column speaker sp2 container">
    <div class="overlay">
      <div class="text">
        <h4>Robinson Caruso</h4>
        <a class="button is-outlined">Biography</a>
      </div>

    </div>
  </div>
  <div class="column speaker sp3 container">
    <div class="overlay">
      <div class="text">
        <h4>Oprah</h4>
        <a class="button is-outlined">Biography</a>
      </div>
    </div>
  </div>
  <div class="column speaker sp4 container">
    <div class="overlay">
      <div class="text">
        <h4>Dr Dana Scully</h4>
        <a class="button is-outlined">Biography</a>
      </div>
    </div>
  </div>
</div>
