<div class="columns speakers">
  <div class="column speaker sp1">
    <div>Professor Longbottom</div>
    <div>Talk: WTF?</div>
  </div>
  <div class="column speaker sp2">
  </div>
  <div class="column speaker sp3">
  </div>
  <div class="column speaker sp4">
  </div>
</div>
